@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}
.square-container {
  flex-basis: 55%;
  width: 500px; /* Đặt kích thước chiều rộng */
  height: 500px; /* Đặt kích thước chiều cao */
  border: 1px solid #ccc; /* Đặt viền cho khung hình */
  display: flex; /* Sử dụng flexbox để căn giữa nội dung */
  justify-content: flex-start; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  padding: 50px;
  text-align: center; /* Căn giữa theo chiều ngang */
  vertical-align: middle; /* Căn giữa theo chiều dọc */
  flex-direction: column;
}
.diagram {
  display: flex;
  flex-wrap: wrap;
}
.right-container {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
/*.container {*/
/*  margin-left: 20px;*/
/*}*/

/*body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  font-family: 'Exo 2', sans-serif;*/
/*  background: #222222;*/
/*  color: white;*/
/*  font-size: 14px;*/

/*  min-height: 100vh;*/
/*  display: grid;*/
/*  place-items: center;*/
/*}*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
  z-index: 1; /* Đảm bảo lớp overlay hiển thị trên các phần tử khác */
  display: none; /* Ẩn ban đầu */
}
.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Movies {
  margin-bottom: 24px;
}

.Movies select {
  appearance: none;
  background: white;
  font-size: 14px;
  margin-left: 12px;
  border-radius: 4px;
  padding: 6px 24px;
}

.ShowCase {
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background: #3b3b3b;
  padding: 12px;
  border-radius: 4px;
  color: #7e7e7e;
}

.ShowCase li {
  margin: 0 12px;
}

.Cinema {
  margin-bottom: 18px;
  perspective: 400px;

  display: grid;
  place-items: center;
  grid-gap: 24px;
}

.Cinema .screen {
  height: 70px;
  background: white;
  width: 100%;
  transform: rotateX(-30deg) scale(1.1);
  box-shadow: 0 3px 10px 2px;
}

.Cinema .seats {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(8, min-content);
  align-items: center;
}

.Cinema .seats .seat:nth-of-type(8n + 2) {
  margin-right: 12px;
}

.Cinema .seats .seat:nth-of-type(8n + 6) {
  margin-right: 12px;
}

.Cinema .seats .seat:not(.occupied):hover,
.Cinema .seats .seat:not(.occupied):focus {
  cursor: pointer;
  background: #c1eac5;
  transform: scale(1.2);
}

.Cinema .seats .seat.selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #7bc47f;
  animation: show-off 0.8s;
  visibility: hidden;
}

@keyframes show-off {
  0% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.seat {
  display: inline-block;
  background: #626262;
  width: 64px;
  height: 48px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
  margin: 5px;

}

.seat.selected {
  background: #7bc47f;
}

.seat.occupied {
  background: #cfcfcf;
}

.info .count {
  color: #7bc47f;
}

.info .total {
  color: #7bc47f;
}
.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*background-color: #f2f2f2;*/
}

.square-container {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

#inputTicket {
  padding: 20px;
  /*background-color: #f2f2f2;*/
}
#selected-seats-list li {
  list-style-type: none;
  /*display: grid;*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  /*padding: 5px;*/
}
.seat-info {
  background-color: #e32020;
  padding: 5px;
  text-align: center;


}
#inputTicket {
  /*flex-basis: 40%;*/
  width: 450px; /* Đặt kích thước chiều rộng */
  height: 500px; /* Đặt kích thước chiều cao */
  /*border: 1px solid #ccc; !* Đặt viền cho khung hình *!*/
  /*display: flex; !* Sử dụng flexbox để căn giữa nội dung *!*/
  /*justify-content: center; !* Căn giữa theo chiều ngang *!*/
  align-items: center; /* Căn giữa theo chiều dọc */
}
#inputTicket-in-list {
  /*flex-basis: 40%;*/
  width: 100%; /* Đặt kích thước chiều rộng */
  height: 250px; /* Đặt kích thước chiều cao */
  border: 1px solid #ccc; /* Đặt viền cho khung hình */
  display: flex; /* Sử dụng flexbox để căn giữa nội dung */
  /*justify-content: center; !* Căn giữa theo chiều ngang *!*/
  /*align-items: end; !* Căn giữa theo chiều dọc *!*/
  /*margin-top: 50px;*/
  /*margin-left: 100px;*/
  /*padding: 50px;*/
  background-color: #fff;
  transform: translateY(0%);
  transition: all 0.5s ease-in;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.selectedPosition{
  width: 50px;
  text-align: center;
}
.selectedType{
  width: 110px;
  text-align: center;
}
.selectedPrice{
  width: 100px;
  text-align: center;
 }
.payment{
  width: 100%;
  border: 0;
  padding: 10px 25px;
  text-align: right;
}
.seat{
  cursor: pointer;
}
.seat:hover{
  background-color: #0b5ed7;
}
#tableContainer{
  display: none;
  z-index: 2;
  overflow: scroll;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 45%;
  background-color: #eceeee;
  margin-top: 30px;
}

